*{margin: 0; padding: 0; box-sizing: 0; text-decoration: none; font-family: Arial, Helvetica, sans-serif;}
.containner{
    width: 90%;
    margin: auto;
}
.teclado{
    width: 20%;
    margin: 30px auto;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: rgb(240, 50, 161);
    border-radius: 5%;
    box-shadow: 0px 0px 50px 10px rgb(189, 185, 185);
    border: 1px solid red;
}
.btn{
    width: 20%;
    height: 50px;
    margin: 6px 6px 6px 6px;
    background-color: black;
    border: none;
    border-radius: 10%;
    color: white;
    font-size: 20pt;
}
.visor{
    width: 85%;
    height: 90px;
    background-color: rgb(205, 221, 236);
    margin: 20px auto;
    border: 10px solid black;
    font-size: 50pt;
    text-align: right;
    line-height: 90px;
    overflow: hidden;
}
.row{
    width: 95%;
    margin: auto;
    text-align: center;
}
.btngrande{
    width: 44% !important;
}
.footer{
    width: 100%;
    font-size: 20pt;
    margin: auto;
    text-align: center;
}
@media(max-width: 767px) {
    .teclado{
        width: 75%;
   }
}

@media(min-width:768px) and (max-width:1024px){
    .teclado{
        width: 90%;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .btn{
       font-size: 60pt;
       width: 19%;
       height: 150px;
       margin: 15px;
    }
    .visor{
        width: 86%;
        height: 250px;
        font-size: 120pt;
        text-align: right;
        line-height: 250px;
        overflow: hidden;
    }
}

@media(min-width:1025px){
    .teclado{
       width: 35%;
    }
    .visor{
         width: 83%;
         height: 90px;
         margin: 20px auto;
         font-size: 50pt;
         text-align: right;
         line-height: 90px;
         overflow: hidden;
     }
}







