*{margin: 0; padding: 0; box-sizing: 0; text-decoration: none; font-family: Arial, Helvetica, sans-serif;}
.containner{
    width: 90%;
    margin: auto;
}
.teclado{
    width: 30%;
    margin: 60px auto;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: rgb(240, 50, 161);
    border-radius: 5%;
    box-shadow: 0px 0px 50px 10px rgb(189, 185, 185);
}
.btn{
    width: 20%;
    height: 50px;
    padding: 14px;
    margin: 10px 0px 10px 10px;
    background-color: black;
    border: none;
    border-radius: 10%;
    color: white;
    font-size: 20pt;
}

.visor{
    width: 80%;
    height: 80px;
    background-color: rgb(205, 221, 236);
    margin: 20px auto;
    border: 10px solid black;
    font-size: 50pt;
    text-align: right;
    overflow: hidden;
}

.row{
    width: 90%;
    margin: auto;
}