*{margin: 0; padding: 0; box-sizing: 0; text-decoration: none; font-family: Arial, Helvetica, sans-serif;}
.containner{
    width: 90%;
    margin: auto;
}

.teclado{
    margin: 15px auto;
    padding-top: 15px;
    padding-bottom: 30px;
    background-color: rgb(240, 50, 161);
    border-radius: 5%;
    box-shadow: 0px 0px 50px 10px rgb(189, 185, 185);
}
.btn{
    width: 20%;
    height: 50px;
    margin: 5px 5px 5px 5px;
    background-color: black;
    border: none;
    border-radius: 10%;
    color: white;
    font-size: 20pt;
}
.visor{
    width: 80%;
    height: 90px;
    background-color: rgb(205, 221, 236);
    margin: 30px auto;
    border: 10px solid black;
    font-size: 50pt;
    text-align: right;
    line-height: 90px;
    overflow: hidden;
}
.row{
    width: 90%;
    margin: auto;
    text-align: center;
}
.btngrande{
    width: 44%;
}
.footer{
    width: 30%;
    margin: auto;
    text-align: center;
}
@media(max-width: 767px) {
    .teclado{
        width: 70%;
   }
}

@media(min-width:768px) and (max-width:1024px){
    .teclado{
        margin-top: 450px;
        padding-top: 40px;
        padding-bottom: 40px;
        width: 80%;
    }
    .btn{
       width: 20%;
       height: 130px;
       font-size: 40pt;
       margin: 10px 10px 10px 10px;
    }
    .visor{
        width: 90%;
        height: 150px;
        margin: 20px auto;
        font-size: 80pt;
        text-align: right;
        line-height: 150px;
        overflow: hidden;
    }
    .row{
        width: 100%;
    }
    .btngrande{
        width: 44%;
    }
}

@media(min-width:1025px){
    .teclado{
        width: 35%;
    }
}







